{% extends 'AKTodolistBundle::index.html.twig'%}

{% block body%}
<h2 style="margin-top:110px;color:#0c5460;"> Edit Todo </h2>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

{% endblock %}